<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- <link rel="stylesheet" href="./css/home.css"> -->
</head>
<body>
  {% load static %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/pages.css' %}">

<nav>
	<a class="logo" href="#">Project</a>
	<ul class="nav-bar">
		<li class="nav-bar_item"><a href="{% url 'home' %}">home</a></li>
		<li class="nav-bar_item"><a href="{% url 'about' %}">about</a></li>
		<li class="nav-bar_item dropdown">
			<a href="#">Templates</a>
			<ul class="project">
				<li class="drop-item"><a href="{% url 'diwali' %}">Diwali</a></li>
				<li class="drop-item"><a href="{% url 'christmas' %}">Christmas</a></li>
				<li class="drop-item"><a href="{% url 'christmas' %}">New Year</a></li>
				<li class="drop-item"><a href="{% url 'diwali' %}">Wedding</a></li>
				<li class="drop-item"><a href="{% url 'birthday' %}">Birthday</a></li>
			</ul>
		</li>
		<li class="nav-bar_item"><a href="{% url 'services' %}">services</a></li>
		<li class="nav-bar_item"><a href="{% url 'contact' %}">contact</a></li>
		<li class="nav-bar_item"><a href="{% url 'logout' %}">logout</a></li>
	</ul>
</nav>
<div class="wrapper">
	<h2><strong>All Games<span>( 4 )</span></strong></h2>
	<div class="cards">
		<figure class="card">
			<a href="{% url 'dota2' %}"><img src="https://www.linkpicture.com/q/1_1484.jpg" /></a>
			<figcaption>Dota 2</figcaption>
		</figure>

		<figure class="card">
			<a href="{% url 'stickfight' %}"><img src="https://www.linkpicture.com/q/2_965.jpg" /></a>
			<figcaption>Stick Fight</figcaption>
		</figure>

		<figure class="card">
			<a href="{% url 'minionmaster' %}"><img src="https://www.linkpicture.com/q/3_695.jpg" /></a>
			<figcaption>Minion Masters</figcaption>
		</figure>

		<figure class="card">
			<a href="{% url 'rush' %}"><img src="https://www.linkpicture.com/q/4_543.jpg" /></a>
			<figcaption>KoseBoz!</figcaption>
		</figure>
	</div>

	<h2><strong>What's new?</strong></h2>
	<div class="news">
		<figure class="article">
			<img src="https://www.linkpicture.com/q/news1_1.jpg" />
			<figcaption>
				<h3>New Item</h3>
				<p>
					In today’s update, two heads are better than one, and three heads are better than that, as the all-new Flockheart’s Gamble Arcana item for Ogre Magi makes its grand debut.
				</p>
			</figcaption>

		</figure>

		<figure class="article">
			<img src="https://www.linkpicture.com/q/news2.png" />
			<figcaption>
				<h3>Update</h3>
				<p>
					Just in time for Lunar New Year and the Rat’s time in the cyclical place of honor, the Treasure of Unbound Majesty is now available.
				</p>
			</figcaption>
		</figure>
	</div>
</div>
</body>
</html>